{[com.rpl.agentorama AgentFailedException]
 [{:name "AgentFailedException",
   :parameters ["String message"],
   :type :method}
  {:name "AgentFailedException",
   :parameters ["String message" "Throwable cause"],
   :type :method}],
 [com.rpl.agentorama AgentObjectOptions]
 [{:name "threadSafe", :type :field}
  {:name "autoTracing", :type :field}
  {:name "workerObjectLimit", :type :field}
  {:name "create", :parameters [], :type :method, :static? true}
  {:name "threadSafe", :parameters [], :type :method, :static? true}
  {:name "disableAutoTracing",
   :parameters [],
   :type :method,
   :static? true}
  {:name "workerObjectLimit",
   :parameters ["int amt"],
   :type :method,
   :static? true}
  {:name "threadSafe", :parameters [], :type :method}
  {:name "disableAutoTracing", :parameters [], :type :method}
  {:name "workerObjectLimit", :parameters ["int amt"], :type :method}],
 [com.rpl.agentorama FinishedAgg]
 [{:name "FinishedAgg", :parameters ["Object value"], :type :method}
  {:name "getValue", :parameters [], :type :method}],
 [com.rpl.agentorama BuiltIn]
 [{:name "AND_AGG", :type :field, :static? true}
  {:name "FIRST_AGG", :type :field, :static? true}
  {:name "LAST_AGG", :type :field, :static? true}
  {:name "LIST_AGG", :type :field, :static? true}
  {:name "MAP_AGG", :type :field, :static? true}
  {:name "MAX_AGG", :type :field, :static? true}
  {:name "MERGE_MAP_AGG", :type :field, :static? true}
  {:name "MIN_AGG", :type :field, :static? true}
  {:name "MULTI_SET_AGG", :type :field, :static? true}
  {:name "OR_AGG", :type :field, :static? true}
  {:name "SET_AGG", :type :field, :static? true}
  {:name "SUM_AGG", :type :field, :static? true}],
 [com.rpl.agentorama AgentManager]
 [{:name "create",
   :parameters ["ClusterManagerBase cluster" "String moduleName"],
   :type :method,
   :static? true}],
 [com.rpl.agentorama AgentRef]
 [{:name "getModuleName", :parameters [], :type :method}
  {:name "getAgentName", :parameters [], :type :method}],
 [com.rpl.agentorama AgentsModule]
 [{:name "define",
   :parameters ["Setup setup" "Topologies topologies"],
   :type :method}],
 [com.rpl.agentorama UI]
 [{:name "start",
   :parameters ["InProcessCluster ipc"],
   :type :method,
   :static? true}
  {:name "start",
   :parameters ["InProcessCluster ipc" "UIOptions options"],
   :type :method,
   :static? true}],
 [com.rpl.agentorama CreateEvaluatorOptions]
 [{:name "inputJsonPath", :type :field}
  {:name "outputJsonPath", :type :field}
  {:name "referenceOutputJsonPath", :type :field}
  {:name "CreateEvaluatorOptions", :parameters [], :type :method}],
 [com.rpl.agentorama ToolsAgentOptions]
 [{:name "type", :type :field}
  {:name "message", :type :field}
  {:name "type", :type :field}
  {:name "function", :type :field}
  {:name "create",
   :parameters ["Class<T> type" "String message"],
   :type :method,
   :static? true}
  {:name "create",
   :parameters
   ["Class<T> type" "RamaFunction1<? super T, String> function"],
   :type :method,
   :static? true}],
 [com.rpl.agentorama AddDatasetExampleOptions]
 [{:name "snapshotName", :type :field}
  {:name "referenceOutput", :type :field}
  {:name "tags", :type :field}
  {:name "AddDatasetExampleOptions", :parameters [], :type :method}],
 [com.rpl.agentorama IUnderlying]
 [{:name "getUnderlying", :parameters [], :type :method}],
 [com.rpl.agentorama AgentTopology]
 [{:name "create",
   :parameters ["Setup setup" "Topologies topologies"],
   :type :method,
   :static? true}],
 [com.rpl.agentorama MultiAgg]
 [{:name "create", :parameters [], :type :method, :static? true}
  {:name "init",
   :parameters ["RamaFunction0<S> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters ["String name" "RamaFunction1<S, Object> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters ["String name" "RamaFunction2<S, T0, Object> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters ["String name" "RamaFunction3<S, T0, T1, Object> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters
   ["String name" "RamaFunction4<S, T0, T1, T2, Object> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters
   ["String name" "RamaFunction5<S, T0, T1, T2, T3, Object> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters
   ["String name" "RamaFunction6<S, T0, T1, T2, T3, T4, Object> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters
   ["String name"
    "RamaFunction7<S, T0, T1, T2, T3, T4, T5, Object> impl"],
   :type :method,
   :static? true}
  {:name "on",
   :parameters
   ["String name"
    "RamaFunction8<S, T0, T1, T2, T3, T4, T5, T6, Object> impl"],
   :type :method,
   :static? true}]}