{com.rpl.agent-o-rama
 [agents-topology
  underlying-stream-topology
  define-agents!
  declare-key-value-store
  declare-document-store
  declare-pstate-store
  declare-agent-object
  declare-agent-object-builder
  declare-evaluator-builder
  declare-comparative-evaluator-builder
  declare-summary-evaluator-builder
  declare-cluster-agent
  setup-object-name
  new-agent
  node
  agg-start-node
  agg-node
  set-update-mode
  multi-agg
  emit!
  result!
  get-store
  get-agent-object
  stream-chunk!
  record-nested-op!
  get-human-input
  agentmodule
  defagentmodule
  agent-manager
  agent-client
  agent-names
  agent-invoke
  agent-invoke-async
  agent-initiate
  agent-initiate-async
  agent-fork
  agent-fork-async
  agent-initiate-fork
  agent-initiate-fork-async
  agent-next-step
  agent-next-step-async
  human-input-request?
  agent-result
  agent-result-async
  agent-invoke-complete?
  agent-stream
  agent-stream-specific
  agent-stream-all
  agent-stream-reset-info
  pending-human-inputs
  pending-human-inputs-async
  provide-human-input
  provide-human-input-async
  create-dataset!
  set-dataset-name!
  set-dataset-description!
  destroy-dataset!
  add-dataset-example-async!
  add-dataset-example!
  set-dataset-example-input!
  set-dataset-example-reference-output!
  remove-dataset-example!
  add-dataset-example-tag!
  remove-dataset-example-tag!
  snapshot-dataset!
  remove-dataset-snapshot!
  search-datasets
  create-evaluator!
  remove-evaluator!
  search-evaluators
  try-evaluator
  try-comparative-evaluator
  mk-example-run
  try-summary-evaluator
  start-ui
  stop-ui]}