{:mvn/repos {"maven-releases"
             {:url
              "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}
 :paths ["src/clj" "src/cljs" "resource"]
 :deps {
        org.apache.logging.log4j/log4j-slf4j18-impl {:mvn/version "2.16.0"}
        thheller/shadow-cljs {:mvn/version "2.28.18"}
        ring/ring-jetty-adapter {:mvn/version "1.14.1"}
        com.rpl/specter {:mvn/version "1.1.4"} ;; only cljs
        com.pitch/uix.core {:mvn/version "1.4.3"}
        com.pitch/uix.dom {:mvn/version "1.4.3"}
        metosin/reitit {:mvn/version "0.8.0"}
        com.rpl/rama {:mvn/version "0.0.6-SNAPSHOT"}
        com.rpl/agent-o-rama {:mvn/version "1.0.0-SNAPSHOT"}}}
